/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./1-task.css');
@import url('./2-task.css');

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #2e2f42;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.iziToast > .iziToast-body .iziToast-texts {
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  margin-top: 0px;
}

/* .iziToast.fadeInUp {
  margin: 0px;
  padding: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
} */

.iziToast-color-name {
  color: #fff;
}

.create-btn,
fieldset:hover,
.delay,
input,
#datetime-picker,
#datetime-picker + button:not(:disabled):hover {
  transition: background-color 250ms linear, border-color 250ms linear;
}
